
  <div class="container text-center">
      <div class="col">
        <p class="h4">Entrar</p>
        <span style="display: block">
          <input class="mb-2"
                 type="password"
                 [(ngModel)]="login.cpf"
                 pInputText
                 placeholder="Cpf">
        </span>
        <span style="display: block">
          <input class="mb-2"
                 type="password"
                 [(ngModel)]="login.senha"
                 pInputText
                 placeholder="Senha">
        </span>
        <span style="display: block">
          <button pButton type="button"
                  label="Entrar"
                  class="ui-button-raised"
                  (click)="logar()"></button>
        </span>
      </div>
      <div class="mt-2">
        <span>É novo por aqui? </span><a href="#">Cadastre-se!</a>
      </div>

  </div>

