<p-card header="Lista de Ingredientes">
  <div class="text-right m-2">
    <button [routerLink]="['/comida/form']"
            class="ui-button-raised"
            label="Novo"
            pButton
            type="button"></button>
  </div>
  <p-card>
    <p-table [value]="lista">
      <ng-template pTemplate="header">
        <tr class="text-center">
          <th>Id</th>
          <th>Comida</th>
          <th>Inativo</th>
          <th>Ações</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-objeto>
        <tr class="text-center">
          <td>{{objeto.id}}</td>
          <td>{{objeto}}</td>
          <td>{{objeto.}}</td>
          <td>
            <i [queryParams]="{id: objeto['id']}"
               [routerLink]="['form']"
               class="pi pi-pencil"
               title="Editar"></i>
            <i class="pi pi-trash ml-2"
               (click)="excluir(objeto['id'])"
               title="Excluir"></i>
          </td>
        </tr>
      </ng-template>
    </p-table>


  <p-confirmDialog header="Confirmation"
                   icon="pi pi-exclamation-triangle"></p-confirmDialog>
</p-card>
