<p-card header="Cadastrar Comida">
  <div class="text-right m-2">
    <button (click)="salvar()"
            class="ui-button-raised"
            label="Salvar"
            pButton
            type="button"></button>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <span class="ui-float-label my-2">
            <input [(ngModel)]="objeto.comida"
                   id="descricao"
                   pInputText
                   type="text">
            <label for="descricao">Comida</label>
        </span>
      </div>
      <div class="col-12">
        <span class="ui-float-label my-2">
          <p-checkbox [(ngModel)]="objeto.inativo" binary="true" label="Inativo"></p-checkbox>
        </span>
      </div>
      <div class="col-12">
        <span class="ui-float-label my-2">
            <p>Ingredientes</p>
            <p-multiSelect defaultLabel="Selecione" optionLabel="ingredientes" [options]="ingredienteList" [(ngModel)]="selectedIngredientes1"></p-multiSelect>
        </span>
      </div>
      <div class="col-12">
        <span class="ui-float-label my-2">
          <p>Tipo</p>
          <p-dropdown placeholder="Selecione" [filter]="true" [options]="tipoComida" [(ngModel)]="selectedTipo1"></p-dropdown>
        </span>
      </div>
    </div>
  </div>
</p-card>

