
<p-table [value]="lista">
  <ng-template pTemplate="header">
    <tr>
      <th>ID</th>
      <th>Nome do Prato</th>
      <th>Status Cardapio</th>
      <th>Ações</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-objeto>
    <tr>
      <td>{{objeto.id}}</td>
      <td>{{objeto.cardapio}}</td>
      <td>{{objeto.inativo}}</td>
      <td class="text-center">
        <i [queryParams]="{id: objeto['id']}"
           [routerLink]="['form']"
           class="pi pi-pencil"
           title="Editar"></i>
        <i class="pi pi-trash ml-2"
           (click)="deletar(objeto['id'])"
           title="Excluir"></i>
      </td>
    </tr>
  </ng-template>
</p-table>
