<p-card header="Fazer Pedido">
  <div class="text-right m-2">
    <button (click)="salvar()"
            class="ui-button-raised"
            label="Salvar"
            pButton
            type="button"></button>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-12">
            <p-calendar placeholder="Data" [(ngModel)]="objeto.data" [showTime]="true" ></p-calendar>
      </div>
      <div class="col-12">
        <span class="ui-float-label my-2">
            <p>Peso da Marmita(Kg)</p>
            <p-multiSelect
            ></p-multiSelect>
        </span>
      </div>
      <div class="col-12">
        <input id="quantidade" class="form-control"
               required minlength="number"
               [(ngModel)]="objeto.quantidade" #quantidade="ngModel">
        <label for="quantidade">Quantidade</label>
        <div *ngIf="quantidade.invalid && (quantidade.dirty || quantidade.touched)"
             class="alert alert-danger">
          <div *ngIf="quantidade.errors.required">
            Coloque pelo menos 1 marmita
          </div>
        </div>
      </div>
    </div>
  </div>
</p-card>
