<header>
  <div class="cabecalho">
    <p-toast></p-toast>
    <div class="row">
      <div class="col-5">
        <h3>Aqui terá uma logo</h3>
      </div>
      <div class="col-6 text-right">
        <p-button icon="pi pi-user" label="Login" class="ui-button-raised"
           (onClick)="openModalItem()"></p-button>
      </div>
    </div>
  </div>
  <app-login (onClose)="displayItem = false"
             [displayItem]="displayItem"></app-login>
</header>
<main>
  <div class="row">
    <div class="col-2 menuList">
      <p-panelMenu [model]="menuList"></p-panelMenu>
    </div>
    <div class="col-10">
      <div class="container divPrincipal">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</main>
<footer>

</footer>
