<header>
  <div>
    <p-menubar [model]="menuList">
      <p-button icon="pi pi-user"  *ngIf="usuarioEstaLogado" label="Sair" class="ui-button-raised" (click)="logout()"></p-button>
      <p-button icon="pi pi-user"  *ngIf="!usuarioEstaLogado" label="Entrar" class="ui-button-raised" (click)="showDialog()"></p-button>
    </p-menubar>
  </div>
</header>

<main>
  <div style="padding-top: 3.5em">
    <div class="container">
        <router-outlet></router-outlet>
    </div>
  </div>
</main>

<p-dialog header="Title" [(visible)]="display" (click)="showDialog()" [style]="{width: '300px', height: '200px'}">
  <div class="col">
    <p class="h4">Entrar</p>
    <span style="display: block">
          <input class="mb-2"
                 type="password"
                 [(ngModel)]="login.cpf"
                 pInputText
                 placeholder="Cpf">
        </span>
    <span style="display: block">
          <input class="mb-2"
                 type="password"
                 [(ngModel)]="login.senha"
                 pInputText
                 placeholder="Senha">
        </span>
    <span style="display: block">
          <button pButton type="button"
                  label="Entrar"
                  class="ui-button-raised"
                  (click)="autenticar()"></button>
        </span>
  </div>
  <div class="mt-2">
    <span>É novo por aqui? </span><a href="#">Cadastre-se!</a>
  </div>
</p-dialog>
