/* You can add global styles to this file, and also import other style files */
body {
  background-color: #FFCCBC!important;
}

.cabecalho {
  background-color: #FF5722;
}

.pSidebar {
  font-size: 2em!important;
  padding-left: .25em!important;
  padding-top: .25em!important;
}

.divPrincipal {
  margin-top: 3em;
  margin-bottom: 3em;
  height: 70vh;
}

.menuList {
  background-color: white;
}
