/* You can add global styles to this file, and also import other style files */
body {
  background-color: #FFE0B2!important;
}

.cabecalho {
  background-color: #F57C00;
  & .row {
    margin-right: 0;
  }
}

.pSidebar {
  font-size: 2em!important;
  padding-left: .25em!important;
  padding-top: .25em!important;
}

.divPrincipal {
  margin-top: 3em;
  margin-bottom: 3em;
  height: 75vh;
}

.menuList {
  background-color: white;
  width: 100%;
  padding: 0!important;
}

.ui-panelmenu {
  width: 100%!important;
}

.menuList .ui-panelmenu .ui-panelmenu-header.ui-state-active > a {
  border: 1px solid #F57C00!important;
  background-color: #F57C00!important;
}

.logoImg {
  padding-left: 2em;
  width: 50%;
  height: auto;
}
