<div class="container text-center" style="margin: 0; padding: 0;position: relative; height: 515px;">
  <img src="./assets/imagens/inicial.jpeg" alt="prato-principal">
  <div class="p-5" style="position: relative; background-color: #f2f2f2; width: 300px; top: -500px;
        left: 60px">
    <h2>Marmita do Dia</h2>
    <button class="btn btn-primary">Fazer pedido agora mesmo!</button>
  </div>
</div>

<div class="container" style="background-color: #f2f2f2;">
  <div class="row">
    <div class="col-6 col-md-2 m-2 mr-3">
      <div class="card" style="width: 13rem;">
        <img src="./assets/imagens/feijao.jpg" class="card-img-top" style="width: 205px;height: 165px;" alt="">
        <div class="card-body">
          <h5 class="card-title">Segunda Feira</h5>
          <p>Ingredientes: </p>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Agendar</a>
        </div>
      </div>
    </div>
    <div class="col-6 col-md-2 m-2 mr-3">
      <div class="card" style="width: 13rem;">
        <img src="./assets/imagens/macarronada.jpg" class="card-img-top" style="width: 205px;height: 165px;" alt="">
        <div class="card-body">
          <h5 class="card-title">Terça Feira</h5>
          <p>Ingredientes: </p>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Agendar</a>
        </div>
      </div>
    </div>
    <div class="col-6 col-md-2 m-2 mr-3">
      <div class="card" style="width: 13rem;">
        <img src="./assets/imagens/lasanha.jpg" class="card-img-top" style="width: 205px; height: 165px;" alt="">
        <div class="card-body">
          <h5 class="card-title">Quarta Feira</h5>
          <p>Ingredientes: </p>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Agendar</a>
        </div>
      </div>
    </div>
    <div class="col-6 col-md-2 m-2 mr-3">
      <div class="card" style="width: 13rem;">
        <img src="./assets/imagens/feijaoearroz.jpg" class="card-img-top" style="width: 205px; height: 165px;" alt="">
        <div class="card-body">
          <h5 class="card-title">Quinta Feira</h5>
          <p>Ingredientes: </p>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Agendar</a>
        </div>
      </div>
    </div>
    <div class="col-6 col-md-2 m-2 mr-3">
      <div class="card" style="width: 13rem;">
        <img src="./assets/imagens/feijoada.jpeg" class="card-img-top" style="width: 205px; height: 165px;" alt="">
        <div class="card-body">
          <h5 class="card-title">Sexta Feira</h5>
          <p>Ingredientes: </p>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Peça agora! </a>
        </div>
      </div>
    </div>
  </div>
</div>
