<div class="pt-3" header="Cadastrar Cliente">
  <div class="text-right m-2">
    <button (click)="salvar()"
            class="ui-button-raised"
            label="Salvar"
            pButton
            type="button"></button>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <span class="ui-float-label my-3">
            <p-inputMask [(ngModel)]="objeto.nome"
                   id="nome"
                         type="text"></p-inputMask>
            <label for="nome">Cliente</label>
        </span>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <span class="ui-float-label my-3">
            <p-inputMask [(ngModel)]="objeto.cpf" mask="999.999.999-99"
                   id="cpf"
                   type="text"></p-inputMask>
            <label for="cpf">Cpf</label>
        </span>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <span class="ui-float-label my-3">
            <p-inputMask [(ngModel)]="objeto.telefone" mask="(99) 9 9999-9999"
                   id="telefone"
                         type="text" ></p-inputMask>
            <label for="telefone">Telefone</label>
        </span>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <span class="ui-float-label my-3">
            <p-inputMask [(ngModel)]="objeto.senha"
                   id="senha"
                         type="password"></p-inputMask>
            <label for="senha">Senha</label>
        </span>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <span class="ui-float-label my-3">
            <p-inputMask [(ngModel)]="objeto.cep" mask="99999-999"
                   id="cep"
                         type="text" ></p-inputMask>
            <label for="cep">Cep</label>
        </span>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <span class="ui-float-label my-3">
            <p-inputMask [(ngModel)]="objeto.logradouro"
                   id="logadouro"
                         type="text"></p-inputMask>
            <label for="logadouro">Logradouro</label>
        </span>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <span class="ui-float-label my-3">
            <p-inputMask [(ngModel)]="objeto.numero"
                   id="numero"
                         type="number"></p-inputMask>
            <label for="numero">Número</label>
        </span>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <span class="ui-float-label my-3">
            <p-inputMask [(ngModel)]="objeto.bairro"
                   id="bairro"
                         type="text"></p-inputMask>
            <label for="bairro">Bairro</label>
        </span>
      </div>
    </div>
  </div>
</div>
