<p-card header="Cadastrar Cliente">
  <div class="text-right m-2">
    <button (click)="salvar()"
            class="ui-button-raised"
            label="Salvar"
            pButton
            type="button"></button>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <span class="ui-float-label my-2">
            <input [(ngModel)]="objeto.nome"
                   id="nome"
                   pInputText
                   type="text">
            <label for="nome">Cliente</label>
        </span>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <span class="ui-float-label my-2">
            <input [(ngModel)]="objeto.cpf"
                   id="cpf"
                   pInputText
                   type="text">
            <label for="cpf">Cpf</label>
        </span>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <span class="ui-float-label my-2">
            <input [(ngModel)]="objeto.telefone"
                   id="telefone"
                   pInputText
                   type="text">
            <label for="telefone">Telefone</label>
        </span>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <span class="ui-float-label my-2">
            <input [(ngModel)]="objeto.senha"
                   id="senha"
                   pInputText
                   type="text">
            <label for="senha">Senha</label>
        </span>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <span class="ui-float-label my-2">
            <input [(ngModel)]="objeto.cep"
                   id="cep"
                   pInputText
                   type="text">
            <label for="cep">Cep</label>
        </span>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <span class="ui-float-label my-2">
            <input [(ngModel)]="objeto.logradouro"
                   id="logadouro"
                   pInputText
                   type="text">
            <label for="logadouro">Logradouro</label>
        </span>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <span class="ui-float-label my-2">
            <input [(ngModel)]="objeto.numero"
                   id="numero"
                   pInputText
                   type="number">
            <label for="numero">Número</label>
        </span>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <span class="ui-float-label my-2">
            <input [(ngModel)]="objeto.bairro"
                   id="bairro"
                   pInputText
                   type="text">
            <label for="bairro">Bairro</label>
        </span>
      </div>
    </div>
  </div>
</p-card>
